@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,400,400i,700|IBM+Plex+Sans+Condensed:200,300,400,600,700&display=swap");
/* ===================================== */
/* ===================================== */
html.sg, html.sg body { width: 100%; height: 100%; overflow: hidden; }

.sg button:focus { outline: 0; }

.sg-link { text-decoration: none; color: #2a7091; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-list { line-height: 1.2; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-list--stip { margin: 0; list-style: none; }

.sg-list--spaced { margin: 0 0 1.5em 0; }

.sg-list__item { padding: .2em 0; }

.sg-text { font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-text--xl { font-size: 2.2em; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-text--lg { font-size: 1.8em; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-text--md { font-size: 1.3em; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-text--sm { font-size: 0.9em; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-text--xs { font-size: 0.8em; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-heading { font-weight: 500; font-family: "IBM Plex Sans Condensed", sans-serif !important; color: #b1b1b1; }

.sg-heading--xl { line-height: 1.1; margin-bottom: .8em; }

.sg-heading--lg { line-height: 1.1; margin-bottom: .8em; }

.sg-heading--md { line-height: 1.1; margin-bottom: 0.5em; }

.sg-heading--sm { line-height: 1.1; margin-bottom: 0.5em; }

.sg-layout { position: relative; }

.sg-layout-header { position: absolute; left: -220px; top: 0; bottom: 0; width: 220px; height: 100%; overflow-y: auto; padding: 40px 12px 40px; background-color: #343434; color: #d7d7d7; transition: left 0.4s ease; font-size: 14px; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-layout-header h1 { color: #ffffff; }

.sg-layout-header a, .sg-layout-header a:visited { color: #9cb8d6; text-decoration: none; }

.sg-layout-content { position: absolute; left: 0; top: 0; bottom: 0; right: 0; height: 100%; overflow-y: auto; padding: 32px; background-color: #f1f1f1; transition: left 0.4s ease; }

.sg-layout.is-nav-open .sg-layout-header { left: 0; }

.sg-layout.is-nav-open .sg-layout-content { left: 220px; }

.sg-toggle-nav { position: absolute; z-index: 999; border-style: solid; border-width: 0; background-color: #2d2d2d; border-color: #424242; color: #d6d6d6; cursor: pointer; top: 0; left: 0; border-bottom-width: 1px; border-right-width: 1px; border-radius: 0 0 6px 0; padding: 6px 8px; }

.sg-toggle-nav:hover, .sg-toggle-nav.is-active { background-color: #424242; }

.sg-iframe { border: 0; padding: 0; margin: 0; background-color: #fff; overflow-y: auto; }

.sg-iframe--fullscreen { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }

.sg-component-toggle-code { position: absolute; z-index: 999; border-style: solid; border-width: 0; background-color: #2d2d2d; border-color: #424242; color: #d6d6d6; cursor: pointer; bottom: 0; left: 0; border-top-width: 1px; border-right-width: 1px; border-radius: 0 6px 0 0; font-size: 12px; padding: 4px 6px; padding: 6px 8px; }

.sg-component-toggle-code:hover, .sg-component-toggle-code.is-active { background-color: #424242; }

.sg-component-description { margin: 32px 0; font-family: "IBM Plex Sans Condensed", sans-serif !important; }

.sg-component-example { margin: 40px -32px; }

.sg-component-example__comments { margin: 16px 0; clear: both; float: none; font-style: italic; color: #625f60; font-size: 13px; }

.sg-component-example__preview { position: relative; padding: 40px 10px; }

@media all and (min-width: 481px) { .sg-component-example__preview { padding: 40px 20px; } }

@media all and (min-width: 961px) { .sg-component-example__preview { padding: 40px; } }

.sg-component-example__preview--light { background-color: #fff; border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3); }

.sg-component-example__preview--light .sg-component-example__comments { color: #8b8b8b; }

.sg-component-example__preview--dark { background-color: #202020; color: #ffffff; box-shadow: inset 0 0 12px #000000; }

.sg-component-example__preview--dark .sg-component-example__comments { color: #afafaf; }

.sg-component-example__preview--full { padding: 0; box-shadow: none; }

@media all and (min-width: 481px) { .sg-component-example__preview--full { padding: 0; } }

@media all and (min-width: 961px) { .sg-component-example__preview--full { padding: 0; } }

.sg-component-example__code { overflow: hidden; font-size: 0.8em; font-family: "IBM Plex Mono", monospace !important; }

.sg-component-example__code pre[class*="language-"] { margin-top: 0; }

.sg-code { font-weight: 700; font-size: 0.75em; border-radius: 4px; background-color: rgba(130, 130, 130, 0.3); color: #000000; white-space: pre; font-family: "IBM Plex Mono", monospace !important; }

.sg-code:hover { background-color: rgba(130, 130, 130, 0.05); }

.sg-code--inline { display: inline-block; padding: 0 12px; }

.sg-code--inline:first-of-type, .sg-code--inline + .sg-code--inline { margin-right: 8px; }

.sg-code--block { padding: 16px 24px; overflow: auto; }

/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+scss+pug */
/** prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML Based on https://github.com/chriskempson/tomorrow-theme @author Rose Pritchard */
code[class*="language-"], pre[class*="language-"] { color: #ccc; background: none; font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; font-size: 1em; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; word-wrap: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

/* Code blocks */
pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #2d2d2d; }

/* Inline code */
:not(pre) > code[class*="language-"] { padding: .1em; border-radius: .3em; white-space: normal; }

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata { color: #999; }

.token.punctuation { color: #ccc; }

.token.tag, .token.attr-name, .token.namespace, .token.deleted { color: #e2777a; }

.token.function-name { color: #6196cc; }

.token.boolean, .token.number, .token.function { color: #f08d49; }

.token.property, .token.class-name, .token.constant, .token.symbol { color: #f8c555; }

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin { color: #cc99cd; }

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable { color: #7ec699; }

.token.operator, .token.entity, .token.url { color: #67cdcc; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.token.inserted { color: green; }
